<div class="container" style="padding: 2%;">
    <div class="row">
        <div class="col-md-9 bg-danger">
            <h3>news Details</h3>
        </div>
        <div class="col-md-3 bg-warning">
            <app-right-side-bar></app-right-side-bar>
        </div>
    </div>
</div>

<!-- <h1>refer this page---  <a href="https://www.npmjs.com/package/angular-cli-ghpages">  https://www.npmjs.com/package/angular-cli-ghpages </a>> </h1>

<h1>Deploy using this CMD    --- ng deploy --cname=newszone.co.in</h1> -->